*.ipch
*.VC.db
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.exe
x64/
obj/
/x64/Debug
/x64
/x64
/obj
/out
/bin
/bin-int
/.vs
/WizardMachine/out
/WizardMachine/obj
/WizardMachine/bin
.vs/WizardMachine/v17/Browse.VC.db
.vs/WizardMachine/v17/Browse.VC.db
.vs/WizardMachine/v17/Solution.VC.db
.vs/WizardMachine/v17/Browse.VC.db
.vs/WizardMachine/v17/Solution.VC.db
.vs/WizardMachine/v17/Browse.VC.db
.vs/WizardMachine/v17/Solution.VC.db
.vs/WizardMachine/v17/Browse.VC.db

